.beach_photo {
	width: 100%;
	
}

.fire_photo {
	width: 16%;
	margin: -10em 0 4em 8em;
	z-index: 1;
	border-color: white;
	border-width: 0.2em;
	border-radius: 1em;
}

.navbar {
	margin: 0;
}

.navbar2 {
	z-index: -1;
}

.btn2 {
	margin: 1em;
}

.btn3 {
	margin: 1em 0 0 2em;
}
/*.secondcolumn {
	padding: 0 1em 0 1em;
	background-color: #E6E6E6;
	border-radius: 1em;
	margin-left: 4em;
	margin-right: 3em;
}

.firstcolumn {
	background-color: #E6E6E6;
	margin-left: -3em;
	margin-top: 8em;
	border-radius: 1em;
}

.thirdcolumn {
	background-color: #E6E6E6;
	margin-left: 1em;
	border-radius: 1em;
}

.rowafterprof {
	margin-top: -8em;
}*/

